.page h1{
text-align: center;
top: 36px;
position: fixed;
text-align: center;
width: 100%;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.gridItem{
  width: 23%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 25px;
  margin: 1%;
  padding: 24px;
  position: relative;
  overflow: hidden;
  background-color: rgb(244, 238, 238);
  /* -webkit-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75); */
}

.gridItem img{
  width: 120%;
  margin-left:-10%;
  margin-top: -10%;
  height: auto;
  margin-bottom: 14px;
  filter: blur(5px) contrast(2) invert(1);
  mix-blend-mode: difference;
  position: relative;
}

.gridItem  a img{
  display: none;
}

.gridItem div{
  margin-top: 14px;
}

@media only screen and (max-width: 900px) {
  .gridItem {
    width: 90%;
    margin: 3% 5%;
  }
}